%div{ :dir => 'rtl', :align => 'right'}
  #container
    .header
      %img{ :src => '/assets/stamp.jpg' }
      .search
        %form{ :id => 'search-form'}
          %input{ :type => 'text' }
          %input{ :type => 'submit', :value => 'Search'}
    .content
      %h1= 'תצוגת מכתב'
      %ul
        %li{ :class => 'letter'}
          .sender
            %h2= 'מאת:'
            / sender is hardcoded for this demo
            %h3= 'אחד העם' 
            %h4= 'ממקום: '+@item.from_location
            %button{ :class=>'mapbtn', :type => 'button', :onclick => "alert('get map')"}
              = 'זום על מיקום'
            %img{:src => '/assets/ehadhaam.jpg'}
          .map
            /#map
            #map{ :style=> 'width: 700px; height: 400px;'}
          .recipient
            %h2= 'נמען'
            %h3= @item.recipient
            %h4= 'אל מקום: '+@item.to_location
            %button{ :class => 'mapbtn', :type => 'button', :onclick => "alert('get map')"}
              = 'זום על מיקום'
          .letter-meta
            .additional-info
              %ul
                %li
                  %h3= "תאריך כתיבה:  #{@item.letter_date}"
                .people
                  %b= 'אנשים:'
                  = 'דוד בן-גוריון, ברנר, הרצל'
                %li{ :class => 'places'}
                  %b= 'מקומות:'
                  = 'ירושלים, באזל'
                %li{ :class => 'dates'}
                  %b= 'תאריכים'
                  = 'יום האם, 5.5.2015'
                %li{ :class => 'topics'}
                  %b= 'נושאים:'
                  = 'חינוך, כלכלה, אנטישמיות'
                %button{ :class => 'mapbtn', :type => 'button', :onclick => "alert('we ALMOST got it ready on time! :(')"}
                  = 'אגרות דומות'
                  /%b= "מלים בולטות: #{@item.topics}"
        %li{ :class => 'lettertext'}
          %h3= "טקסט מלא:"
          %p
            = @fulltext

:javascript
  $(document).ready(function() {
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(#{raw @markers.to_json});
    handler.bounds.extendWith(markers);
    handler.getMap().setZoom(8);
    handler.fitMapToBounds();
  });
  }
  );
